/*
    File: index.css
    Jason Downing
    Contact: jason [AT] downing [DOT] io
    MIT Licensed - see http://opensource.org/licenses/MIT for details.
    Anyone may freely use this code. Just don't sue me if it breaks stuff.
    Created: 2/21/2018

    CSS file for the Loan Repayment Caculation Site
*/

body {
  padding-top: 2rem;
}

.starter-template {
  text-align: center;
}

.addLoan {
  margin-top: 3rem;
}

#debtFreeDate {
  font-weight: bold;
  text-decoration: underline;
}

.debtFreeDateClass {
  font-weight: bold;
  text-decoration: underline;
}

#totalInterestPaid {
  color: #fff;
  font-weight: bold;
}

.totalInterestPaidClass {
  color: #fff;
  font-weight: bold;
}

/* Add borders around the "DEBT FREE BY" and "TOTAL INTEREST PAID" columns */
.bordersDebt {
  border-style: solid;
  border-width: 5px;
  border-color: #000000;      /* BLACK */
  background-color: #000000;
  color: #fff;
}

.bordersInterest {
  border-style: solid;
  border-width: 5px;
  border-color: #ff0000;
  background-color: #ff0000;
  color: #fff;
}

/* These are secondary colors for the Total Monthly Payment Comparision row */
.bordersDebtAlt {
  border-style: solid;
  border-width: 5px;
  border-color: #efa609;
  background-color: #efa609;
  color: #fff;
}

.bordersInterestAlt {
  border-style: solid;
  border-width: 5px;
  border-color: #007c23;
  background-color: #007c23;
  color: #fff;
}

.textItalics {
  font-style: italic;
}

.textUnderline {
  text-decoration: underline;
}

.totalMonthlyNote {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.infoIconPrimary {
  color: red;
}

/* Needs some space on top */
#minimumPaymentRow {
  margin-top: 1.5rem;
}
#monthlyPaymentForm {
  margin-top: 0.5rem;
}
#clearInputs {
  margin-top: 0.5rem;
}
#calculateBtnRow {
  margin-top: 0.5rem;
}
#tableRow {
  margin-top: 1.5rem;
}
#pills-tab {
  margin-top: 1.5rem;
}

.loanFormRow {
  margin-top: 0.5rem;
}

/* Also do not want to scroll through months of payment rows, so make it scrollable!
   Table elements don't support this natively, but this helpful CSS does it for us. :)
   https://stackoverflow.com/questions/10420168/twitter-bootstrap-scrollable-table
*/
#amortizationTable {
  height:30rem;
  overflow: auto;
}

/* Make the GitHub icon black like it should be (disable hyperlink blue color) */
#githubIcon {
  color: black;
  font-size: 1.25rem;
}
